<div id="<%= dom_id friend %>" class="card mb-4">
  <div class="card-header">
    Friend information
  </div>
  <div class="card-body">
    <h5 class="card-title display-4">
      <%= friend.first_name %>
      <%= friend.last_name %>
    </h5>
    <hr/>
    <p class="card-text lead">
      <%= friend.email %> | <%= friend.phone %> |  <%= friend.twitter %>
    </p>
  </div>
</div>
